* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #111827;
    background-color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25;

}

.container {
    height: 100vh;
    display: grid;
    place-items: center;
}

main {
    
    padding: 1rem;
}

h1 {
    color: purple;
}

h1::after {
    display: block;
    content: "";
    padding-bottom: 0.3rem;
    border-bottom: 1px solid purple;
}

form {
    background-color: #F1F5F9;
    padding: 1rem;
    border-radius: 0.5rem;
}


input {
    width: 100%;
    margin-bottom: 1rem;
}

input[type="button"] {
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  background-color: purple;
  color: #fefefe;
}

